.DS_Store
.kdev_include_paths
.svn
._*
~$*
*~
cmake_install.cmake
CMakeCache.txt
CMakeFiles
*.kate-swp
*.kdev4
.*.swp
*.pbxuser
*.perspectivev3
*.mode1v3
Thumbs.db
.vscode
build
log

include/spitfire/platform/apple.h

tests/library_unittest
tests/data/lang.txt
tests/log
tests/Makefile

